// VARIABLES =================================

// Colors
:root {
  --color-red: #ff6060;
  --color-white: #fff;
  --color-black: #000;
}

// Fonts
$font-stack: "Montserrat", sans-serif;
$base-font-size: 16px;
