@import "../mixins.scss";

.banner {
  border-radius: 25px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include flex-center;
  min-height: 223px;

  @media screen and (max-width: 767px) {
    min-height: 111px;
    border-radius: 10px;
  }
}

.overlay {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.banner img {
  position: absolute;
}

.banner h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 68.45px;
  color: var(--color-white);
  position: relative;
  z-index: 10;
  user-select: none;
  padding-inline: 1rem;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 24px;
  }
  @media screen and (max-width: 377px) {
    margin-right: auto;
  }
}
