.header {
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__logo {
    height: 68px;
    width: 210px;
  }

  &__links-wrapper {
    display: flex;
    gap: 57px;
  }

  &__links-wrapper a {
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
  }
}

.active {
  text-decoration: underline;
}
