@use "../globals/mixins" as *;

.navbar {
  @include flex-betwenn;
  padding-block: 3rem;

  @media screen and (max-width: 767px) {
    padding-block: 1.5rem;
  }

  &__logo {
    height: 68px;
    width: 210px;

    @media screen and (max-width: 767px) {
      height: 47px;
      width: 145px;
    }
  }

  &__links-wrapper {
    display: flex;
    gap: 57px;

    @media screen and (max-width: 767px) {
      gap: 26px;
    }
  }

  &__links-wrapper a {
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;

    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 17.11px;
      text-transform: uppercase;
    }
  }
}
