.carousel-wrapper {
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 767px) {
    min-width: 335px;
    height: 255px;
    border-radius: 10px;
    margin-bottom: 0.75rem;
  }
}

.carousel-wrapper img {
  position: absolute;
  inset: 0;
}

.carousel-wrapper button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 80px;

  @media screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

.prev-btn {
  left: 5%;
}

.next-btn {
  left: 95%;
}
